* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "MiFuentePersonalizada";
  src: url(../fuentes/static/PlaypenSans-SemiBold.ttf);
}
@font-face {
  font-family: "MiFuentePersonalizada2";
  src: url(/fuentes/static/PlaypenSans-Light.ttf);
}
@font-face {
  font-family: "MiFuentePersonalizada3";
  src: url(/fuentes/static/PlaypenSans-Thin.ttf);
}
body {
  background-image: cover;
}

#titulo {
  margin-top: 40px;
  text-align: center;
  min-height: 10vh;
}
h1 {
  font-family: "MiFuentePersonalizada3", sans-serif;
  text-align: center;
  font-size: 40px;
}
h2 {
  font-family: "MiFuentePersonalizada", sans-serif;
  text-align: center;
  font-size: 60px;
}
.botonsol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-top: 50px;
}
button {
  height: 135px;
  width: 135px;
  color: rgb(22, 17, 127);
  font-size: 30px;
  font-family: "MiFuentePersonalizada2", sans-serif;

  margin: 5px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(226, 208, 43);
  border: 2px solid #ffd700;
  cursor: pointer;
  transition: background-color 0.3 ease;
}
button:hover {
  background: linear-gradient(
    to bottom,
    rgb(221, 204, 52),
    rgba(255, 255, 255, 0.725)
  );
}

section.datos {
  margin: 5vh;
  display: grid;
  column-gap: 10px;
  grid-template-areas:
    "city"
    "temper"
    "humed"
    "viento"
    "fecha"
    "mensajeLluvia";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}
.resultadoBoton {
  text-align: center;
  font-family: "MiFuentePersonalizada", sans-serif;
}
#city {
  grid-area: city;
  grid-column: 1 / span 2;
  font-family: "MiFuentePersonalizada", sans-serif;
  text-align: center;
  font-size: 40px;
}
#temper {
  font-family: "MiFuentePersonalizada", sans-serif;
  grid-row: span 3;
  font-size: 60px;
  text-align: center;
}
#humed,
#viento,
#fecha {
  grid-column: 2;
  font-size: 15px 15px 15px;
}
#mensajeLluvia {
  font-size: 30px;
  grid-column: 1 / span 2;
}
script {
  font-family: "MiFuentePersonalizada", sans-serif;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .datos {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: repeat(6, auto);
    row-gap: 30px; /* Espacio vertical entre filas */
    column-gap: 30px;
    margin: 10px 20px 20px;

    grid-template-areas:
      "city"
      "temper"
      "humed"
      "viento"
      "fecha"
      "mensajeLluvia";
  }

  #city,
  #mensajeLluvia {
    grid-row: span 1;
    font-size: 100%;
    margin-top: 10px;
  }

  #temper {
    font-size: 100%;
  }

  h2,
  h1 {
    font-size: 100%;
  }

  body {
    width: 100%; /* Restaura el ancho al 100% para dispositivos más pequeños */
    height: 100%; /* Restaura la altura automática */
    overflow: hidden;
    display: block; /* Restaura el flujo normal de bloques */
  }

  button {
    height: 100px; /* Ajusta la altura del botón en dispositivos móviles */
    width: 100px; /* Ajusta el ancho del botón en dispositivos móviles */
  }

  section.datos {
    margin: 0; /* Elimina el margen en dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .datos {
    width: 100%;
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: repeat(6, auto);
    row-gap: 30px; /* Espacio vertical entre filas */
    column-gap: 30px;
    margin: 20px;
    grid-template-areas:
      "city"
      "temper"
      "humed"
      "viento"
      "fecha"
      "mensajeLluvia";
  }
}
#city {
  grid-row: span 1; /* Ajusta la cantidad de filas que ocupa */
  margin-top: 20px;
}

#temper {
  grid-row: span 1; /* Ajusta la cantidad de filas que ocupa */
}

body {
  width: 100%; /* Restaura el ancho al 100% para dispositivos más pequeños */
  height: 100%; /* Restaura la altura automática */
  display: block; /* Restaura el flujo normal de bloques */
}

button {
  height: 100px; /* Ajusta la altura del botón en dispositivos móviles */
  width: 100px; /* Ajusta el ancho del botón en dispositivos móviles */
  font-size: 20px; /* Ajusta el tamaño de fuente en dispositivos móviles */
}
