@media (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url(../fuentes/static/PlaypenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'MiFuentePersonalizada2';
    src: url(/fuentes/static/PlaypenSans-Light.ttf);
}

body{
    background-size: cover; 
    background-repeat: no-repeat; 
}

#titulo {
    margin-top: 40px;
    text-align: center;
    min-height: 10vh;
}

h1 {
    font-family: 'MiFuentePersonalizada', sans-serif;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'MiFuentePersonalizada', sans-serif;
    text-align: center;
    font-size: 60px;
}

.botonsol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 50px;
}

button {
    height: 135px;
    width: 135px;
    color: rgb(22, 17, 127);
    font-size: 30px;
    font-family: 'MiFuentePersonalizada2', sans-serif;
    background-color: transparent;
    border-radius: 50%;
    background-color: rgb(226, 208, 43);
    border: black;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

button:hover {
    background-color: rgb(231, 215, 75);
}

section.datos {
    margin: 5vh;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 
    "city"
    "temper"
    "humed"
    "viento"
    "fecha"
    "mensajeLluvia";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    
}

.resultadoBoton {
    text-align: center;
    font-family: 'MiFuentePersonalizada', sans-serif;
}

#city {
    grid-area: city;
    grid-column: 1 / span 2;
    font-family: 'MiFuentePersonalizada', sans-serif;
    text-align: center;
    font-size: 40px;
}

#temper{
    font-family: 'MiFuentePersonalizada', sans-serif;;
    grid-column: ;
    font-size: 60px;
}

#humed, #viento, #fecha {
    grid-column: 2;
    font-size: 15px 15px 15px;
}

#mensajeLluvia{
    font-size: 30px;
    grid-column: 1 / span 2;
}


script {

    font-family: 'MiFuentePersonalizada', sans-serif;
}