* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url(../fuentes/static/PlaypenSans-SemiBold.ttf);
}



@font-face {
    font-family: MiFuentePersonalizada2;
    src: url(/fuentes/static/PlaypenSans-Light.ttf);
}

body{
    background-size: cover; 
    background-repeat: no-repeat; 
}

#titulo {
    margin-top: 40px;
    text-align: center;
    min-height: 10vh;
}

h1 {}

h2 {
    font-family: 'MiFuentePersonalizada', sans-serif;
    text-align: center;
    font-size: 60px;
}

.botonsol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 50px;
}

button {
    height: 135px;
    width: 135px;
    color: rgb(22, 17, 127);
    font-size: 30px;
    font-family: 'MiFuentePersonalizada2', sans-serif;
    background-color: transparent;
    border-radius: 50%;
    background-color: rgb(226, 208, 43);
    border: black;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

button:hover {
    background-color: rgb(231, 215, 75);
}

section.datos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: ;
}

#resultadoBoton {
    text-align: center;
    font-family: 'MiFuentePersonalizada', sans-serif;
}

#city {
    text-align: center;
}


script {

    font-family: 'MiFuentePersonalizada', sans-serif;
}